<div class="container">
  <div class="row mt-5 mx-auto">
    <div class="col-md-7 mx-auto">
      <div class="card shadow">
        <h5 class="card-header bg-dark text-center text-white">グループ編集</h5>
        <div class="card-body mx-5 mt-3">
          <%= render 'group_form', group: @group %>
        </div>
      </div>
    </div>
  </div>
</div>