<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-header bg-dark text-white text-center">新規グループ作成</div>
        <%= render 'public/shared/error_messages', resource: @group %>
        <div class="card-body">
          <%= form_with model: @group, url: groups_path, method: :post do |f| %>
            <%= render "group_form", f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>