// Place all the styles related to the public/GroupChats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#group_chats {
  padding: 20px 10px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.chat-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}