// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
  width: 100%;
  background-image: image-url("soccer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper .container{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 1000px;
  margin: 0px auto;
  padding: 70px 0px;
  height: 90vh;
}

.top-visual {
  width: 100%;
  height: 200px;
  background-image: image-url("soccer.jpg");
  background-size: cover;
  background-position: center;
}

.top-visual-content {
  margin: auto;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 60px;
  color: white;
}

.top-visual-text {
  font-family: "arial black", sans-serif;
}

.top-visual-text1 {
  font-family: "arial black", sans-serif;
}

.about-info {
  margin-top: 40px;
}

.about-btn {
  width: 250px;
  margin-top: 15px;
}