<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 mx-auto">
      <h2 class="text-center">スポーツを魅力を語り尽くせ</h2>
      <hr width="50%">
      <div class="mt-4 text-center">
        <p class="mt-3 font-weight-bold" style="color: #3cb371;">
          SPOMATCHは<br>
          スポーツを通して、繋がりの輪を広げるコミュニティサイトです
        </p>
      </div>
      <div class="mt-4 text-center">
        <p>
          皆さんは、スポーツを観戦した時、テレビで視聴している時<br>
          同じスポーツを好きな人と『熱く語りたい』、『この思いを共有したい』、または<br>
          新しいスポーツにも興味があるけど、『よくわからないから中々始めることができないんだよな〜』<br>
          と思ったことはありませんか？<br>
        </p>
        <p class="mt-4">
          SPOMATCHを通して、好きなスポーツについて、熱く語り、思いを共有してみてください！<br>
          また新しいスポーツを興味がある方も、そのスポーツの熱量を感じて、是非最初の一歩を踏み出してみてください！<br>
          スポーツを通して繋がりの輪を広げていきましょう！
        </p>
      </div>
      <div class="mt-5">
        <p class="text-center"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-secondary px-3" %></p>
      </div>
    </div>
  </div>
  <div class="about-visual">
  </div>
</div>