<div class="row mt-5">
  <table class="table mx-auto" style="width: 70%">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col" class="text-center" style="width: 60%">タグ</th>
        <th scope="col" style="width: 20%"></th>
        <th scope="col" style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% tags.each do |tag| %>
      <tr>
        <td class=" align-middle text-center"><%= tag.name %></td>
        <td class="text-center"><%= link_to "編集", edit_admin_tag_path(tag), class:"btn btn-primary" %></td>
        <td class="text-center"><%= link_to "削除", admin_tag_path(tag), method: :delete, class:"btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>