<div class="container mb-3">
  <%= render 'public/shared/error_messages', resource: @tag %>
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">タグ一覧・追加</h4>
      <%= render "form", tag: @tag %>
      <%= render "admin/tags/index", tags: @tags %>
    </div>
  </div>
</div>