<div class="row mt-5">
  <table class="table mx-auto border-bottom" style="width: 70%">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col" class="text-center" style="width: 60%">スポーツ</th>
        <th scope="col" style="width: 20%"></th>
        <th scope="col" style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% sports.each do |sport| %>
      <tr>
        <td class=" align-middle text-center"><%= sport.name %></td>
        <td class="text-center"><%= link_to "編集", edit_admin_sport_path(sport), class:"btn btn-primary" %></td>
        <td class="text-center"><%= link_to "削除", admin_sport_path(sport), method: :delete, class:"btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>