<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">スポーツ編集</h4>
      <%= form_with model: @sport, url: admin_sport_path, method: :patch do |f| %>
        <table class="table table-borderless mx-auto mt-3" style="width: 70%">
          <td class="align-middle text-center"><%= f.label :name, "スポーツ名", class:"mt-2" %></td>
          <td class="text-center"><%= f.text_field :name, class:"form-control" %></td>
          <td class="text-center"><%= f.submit "更新", class:"btn btn-info px-4" %></td>
        </table>
      <% end %>
    </div>
  </div>
</div>