<div class="container mb-3">
  <%= render 'public/shared/error_messages', resource: @sport %>
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">スポーツ一覧・追加</h4>
      <%= render "form", sport: @sport %>
      <%= render "admin/sports/index", sports: @sports %>
    </div>
  </div>
</div>
