<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <h4 class="text-center">スポーツ一覧・追加</h4>
      <%= render "form", sport: @sport %>
      <%= render "index", sports: @sports %>
    </div>
  </div>
</div>
