<div>
  <%= form_with model: [post,post_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: "5", placeholder: "コメントをここに", class:"form-control bg-light" %>
    <%= f.submit "コメントを投稿", class:"btn btn-success px-4 mt-3" %>
  <% end %>
</div>