/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

 a {
  text-decoration: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #848282;
  font-family: "Impact", sans-serif;
}

header .heading {
  font-size: 32px;
}

header a {
  color: white;
}

.navbar-nav li {
  margin: 0 25px;
  font-size:  20px
}

.navbar-toggler-icon {
  background-color: #fff;
}
/*スポーツ一覧のCSS*/
.sports-table {
  display: block;
  overflow-y: auto;
  height: 350px;
  width: 200px;
  border-collapse: collapse;
}

.sports-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #FFF;
  border-top:#FFF;
}
/*タグ一覧のCSS*/
.tags-table {
  display: block;
  overflow-y: auto;
  height: 350px;
  border-collapse: collapse;
}

.tags-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #FFF;
  border-top:#FFF;
}

footer {
  width: 100%;
  position: sticky;
  top: 100vh;
  text-align: center;
  line-height: 100px;
  background-color: #848282;
}

.pagination {
  margin-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}