<table class="table table-hover table-bordered align-middle">
  <thead>
    <th class="text-center">スポーツ一覧</th>
  </thead>
  <tbody>
    <% sports.each do |sport| %>
      <tr>
        <td class="text-center">
          <%= link_to sport.name, search_sport_path(sport_id: sport.id) %>
          <% unless sport.groups.count.zero? %>
            <%= "(#{sport.groups.count})" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>